<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div style="margin: 0 auto; width: 1140px; display: flex; justify-content:  center; align-items: center; flex-direction: column">
<!--        <h4>Hello user</h4>-->
<!--        <h4>{{ user_name }}</h4>-->
<!--        <p>{{ age }}</p>-->
<!--        {% if age > 18 %}-->
<!--            <p>Es mayor de edad</p>-->
<!--        {% endif %}-->

<!--        {% for items in list %}-->
<!--            <p>{{ items }}</p>-->
<!--        {% endfor %}-->
<!--        <h3>My favourite car</h3>-->
<!--        {% for key, value in car.items() %}-->
<!--            <p>{{ key }} -> {{value}}</p>-->
<!--        {% endfor %}-->
        <h2>Posiciones pares e impares</h2>
        {% for x in list  %}
            {% if loop.index % 2 == 0 %}
                <p style="color: red">{{ x }}</p>
            {% else %}
                <p style="color: blue">{{ x }}</p>
            {% endif %}
        {%endfor%}
        <h4>Colores</h4>
        {% set cont = namespace(value=0) %}
        {% for x in list %}
<!--            no me funciona con {{ loop.cycle(color) }} color es la lista de colores-->
            <p style="background-color:{{ loop.cycle('red','blue','green') }}">{{ x }}</p>
        {%endfor%}
        <br>
<!--        <h2>Doble bucle</h2>-->
<!--        {% for x in list %}-->
<!--            {% set parentloop = loop %}-->
<!--            {% for number in list %}-->
<!--                <div class="clase_{{parentloop.index}}_{{loop.index}}">{{number}}</div>-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
        <h2>Coches con fecha de fabricación superior a 2005</h2>
        {% for car in car_list %}
            {% for x, y in car.items() %}
                {% if y.year > 2005 %}
                    <h3>{{ x }}</h3>
                    <p>Brand: {{ y.brand }}</p>
                    <p>Model: {{ y.model }}</p>
                    <p>Year: {{ y.year }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>